# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

name: $(MajorVersion).$(MinorVersion).$(PatchVersion)

variables:
  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: '28ddc8b4-48bd-4be8-bd65-4b94a64aa330'

  # Agent VM image name
  vmImageName: 'windows-2019'

stages:
- stage: Build
  displayName: Build and push stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Docker@2
      displayName: Build Docker Image
      inputs:
        repository: 'rowdychildren/duckbot'
        command: 'build'
        Dockerfile: '**/BotDockerFile'
        tags: '$(MajorVersion).$(MinorVersion).$(PatchVersion)'
    - task: Docker@2
      displayName: Push an image to Docker Hub
      inputs:
        containerRegistry: 'rowdychildren-dockerhub'
        repository: 'rowdychildren/duckbot'
        command: 'push'
        tags: '$(MajorVersion).$(MinorVersion).$(PatchVersion)'
    - task: CopyFiles@2
      inputs:
        SourceFolder: '$(System.DefaultWorkingDirectory)'
        Contents: 'deploy.json'
        TargetFolder: '$(build.artifactstagingdirectory)'
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'
        publishLocation: 'Container'